World Port Index Data Migration(Capstone Project 2)

In [1]:
 pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\admin\anaconda34\lib\site-packages (4.0.34)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\admin\anaconda34\lib\site-packages (2.9.6)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install pandas

Requirement already satisfied: pandas in c:\users\admin\anaconda34\lib\site-packages (1.5.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\admin\anaconda34\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda34\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\admin\anaconda34\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda34\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\admin\anaconda34\lib\site-packages (2.0.16)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\admin\anaconda34\lib\site-packages (from sqlalchemy) (4.4.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\admin\anaconda34\lib\site-packages (from sqlalchemy) (2.0.1)

In [5]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

In [6]:
import zipfile
import os

# Specify the path to the zip file and the extraction directory
zip_file_path = r"C:\Users\admin\Downloads\PUB150.zip"
extraction_path = r"C:\Users\admin\Downloads\PUB150"

# Make sure the extraction directory exists or create it
os.makedirs(extraction_path, exist_ok=True)

# Extract files from the zip archive
with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
    zip_ref.extractall(extraction_path)

print("Extraction complete.")

Extraction complete.

In [7]:
import pyodbc
[x for x in pyodbc.drivers() if x.startswith('Microsoft AccessÂ Driver')]

[]

In [8]:
def connect_to_database(database_path):
    # Open a connection to the Access database using the provided database_path
    conn = pyodbc.connect(fr'DRIVER={{Microsoft Access Driver (*.mdb, *.accdb)}};DBQ={database_path};')
    return conn

In [9]:
pyodbc.drivers()

['SQL Server',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)',
 'Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)']

In [10]:
pyodbc.dataSources()

{'MS Access Database': 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Excel Files': 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'dBASE Files': 'Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)'}

In [11]:
def get_accessbase_conn():
    return pyodbc.connect(r'Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=C:\Users\admin\Downloads\PUB150\WPI.mdb')
conn = get_accessbase_conn()
cursor = conn.cursor()
# Get the list of table names
table_names = [table.table_name for table in cursor.tables(tableType="TABLE")]
# Print the table names
for name in table_names:
    print(name)

~TMPCLP62091
Country Codes
Country Codes Old
Depth Code LUT
Drydock/Marine Railway Code LUT
Harbor Size LUT
Harbor Type LUT
Maximum Size Vessel LUT
Repairs Code LUT
Shelter Afforded LUT
Wpi Data
WPI Import
WPI Region

In [12]:
def query_accessdb_table(query, conn):
    table_result = pd.read_sql(query, conn)
    return table_result
query = """
SELECT * FROM "Wpi Data"

"""
table_result = query_accessdb_table(query, conn)

C:\Users\admin\AppData\Local\Temp\ipykernel_8760\348665687.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  table_result = pd.read_sql(query, conn)

In [13]:
table_result

,World_port_index_number,Region_index,Main_port_name,Wpi_country_code,Latitude_degrees,Latitude_minutes,Latitude_hemisphere,Longitude_degrees,Longitude_minutes,Longitude_hemisphere,...,Services_elect_repair,Supplies_provisions,Supplies_water,Supplies_fuel_oil,Supplies_diesel_oil,Supplies_deck,Supplies_engine,Repair_code,Drydock,Railway
0,70,60,KEFLAVIK,IS,64,0,N,22,33,W,...,None,Y,Y,Y,Y,Y,Y,C,None,S
1,75,60,STRAUMSVIK,IS,64,3,N,22,3,W,...,None,None,None,None,None,None,None,None,None,None
2,80,60,HAFNARFJORDUR,IS,64,4,N,21,57,W,...,Y,Y,Y,Y,Y,Y,Y,B,None,M
3,90,60,SKERJAFJORDUR,IS,64,9,N,22,1,W,...,None,Y,Y,Y,Y,Y,Y,C,None,None
4,100,60,REYKJAVIK,IS,64,9,N,21,56,W,...,Y,Y,Y,Y,Y,Y,Y,B,L,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3625,8270,6585,FREDERICKSBURG,US,38,18,N,77,27,W,...,None,None,None,None,None,None,None,None,None,None
3626,8280,6585,NORFOLK,US,36,51,N,76,18,W,...,Y,Y,Y,Y,Y,Y,Y,A,M,L
3627,8290,6585,PORTSMOUTH,US,36,49,N,76,18,W,...,Y,Y,Y,Y,Y,Y,Y,A,L,L
3628,8300,6585,NEWPORT NEWS,US,36,58,N,76,26,W,...,Y,Y,Y,Y,Y,Y,Y,A,L,L
3629,8318,6585,WARWICK,US,37,27,N,77,25,W,...,None,Y,Y,Y,Y,None,None,None,None,None

In [14]:
import os

db_password = os.environ.get("DB_PASSWORD")

In [15]:
# Load the dataset into the database
# Database credentials
db_username = 'postgres'
db_password = os.environ.get("DB_PASSWORD")
db_host = 'localhost'
db_port ='5432'
db_name = 'world_port_index'

In [16]:
#  Establish a connection using SQLAlchemy engine
connection = create_engine(f'postgresql://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}')

In [17]:
import pyodbc

In [18]:
def connect_to_database(database_path):
    # Open a connection to the Access database using the provided database_path
    conn = pyodbc.connect(fr'DRIVER={{Microsoft Access Driver (*.mdb, *.accdb)}};DBQ={database_path};')
    return conn

In [19]:
database_path = r'C:\Users\admin\Downloads\PUB150\WPI.mdb'

In [20]:
connection = connect_to_database(database_path)

In [21]:
def get_table_names(connection):
    # Get the table names using a list comprehension and the tables() method
    cursor = connection.cursor()
    table_names = [table.table_name for table in cursor.tables(tableType="TABLE")]
    return table_names

In [22]:
# Call the function to retrieve table names
table_names = get_table_names(connection)

In [23]:
# Close the connection
#connection.close()

# Iterate through table names and print each name
for name in table_names:
    print(name)

~TMPCLP62091
Country Codes
Country Codes Old
Depth Code LUT
Drydock/Marine Railway Code LUT
Harbor Size LUT
Harbor Type LUT
Maximum Size Vessel LUT
Repairs Code LUT
Shelter Afforded LUT
Wpi Data
WPI Import
WPI Region

In [24]:
#assigning a SQL query string to the variable named query, its a select statement that retrieves all column from a table named "Wpi Data"
query = '''    
SELECT * FROM "Wpi Data"
'''

In [25]:
import pandas as pd

In [26]:
# Fetch table data as a pandas DataFrame, it fetches the data from the database using the read_sql function. 
table_data = pd.read_sql(query, connection)

C:\Users\admin\AppData\Local\Temp\ipykernel_8760\2557169208.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  table_data = pd.read_sql(query, connection)

In [27]:
# Print the first few rows of the DataFrame
print(table_data.head())

   World_port_index_number  Region_index Main_port_name Wpi_country_code  \
0                       70            60       KEFLAVIK               IS
1                       75            60     STRAUMSVIK               IS
2                       80            60  HAFNARFJORDUR               IS
3                       90            60  SKERJAFJORDUR               IS
4                      100            60      REYKJAVIK               IS

   Latitude_degrees  Latitude_minutes Latitude_hemisphere  Longitude_degrees  \
0                64                 0                   N                 22
1                64                 3                   N                 22
2                64                 4                   N                 21
3                64                 9                   N                 22
4                64                 9                   N                 21

   Longitude_minutes Longitude_hemisphere  ... Services_elect_repair  \
0                 33                    W  ...                  None
1                  3                    W  ...                  None
2                 57                    W  ...                     Y
3                  1                    W  ...                  None
4                 56                    W  ...                     Y

  Supplies_provisions Supplies_water Supplies_fuel_oil Supplies_diesel_oil  \
0                   Y              Y                 Y                   Y
1                None           None              None                None
2                   Y              Y                 Y                   Y
3                   Y              Y                 Y                   Y
4                   Y              Y                 Y                   Y

  Supplies_deck Supplies_engine Repair_code Drydock Railway
0             Y               Y           C    None       S
1          None            None        None    None    None
2             Y               Y           B    None       M
3             Y               Y           C    None    None
4             Y               Y           B       L       L

[5 rows x 76 columns]

In [28]:
table_data

,World_port_index_number,Region_index,Main_port_name,Wpi_country_code,Latitude_degrees,Latitude_minutes,Latitude_hemisphere,Longitude_degrees,Longitude_minutes,Longitude_hemisphere,...,Services_elect_repair,Supplies_provisions,Supplies_water,Supplies_fuel_oil,Supplies_diesel_oil,Supplies_deck,Supplies_engine,Repair_code,Drydock,Railway
0,70,60,KEFLAVIK,IS,64,0,N,22,33,W,...,None,Y,Y,Y,Y,Y,Y,C,None,S
1,75,60,STRAUMSVIK,IS,64,3,N,22,3,W,...,None,None,None,None,None,None,None,None,None,None
2,80,60,HAFNARFJORDUR,IS,64,4,N,21,57,W,...,Y,Y,Y,Y,Y,Y,Y,B,None,M
3,90,60,SKERJAFJORDUR,IS,64,9,N,22,1,W,...,None,Y,Y,Y,Y,Y,Y,C,None,None
4,100,60,REYKJAVIK,IS,64,9,N,21,56,W,...,Y,Y,Y,Y,Y,Y,Y,B,L,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3625,8270,6585,FREDERICKSBURG,US,38,18,N,77,27,W,...,None,None,None,None,None,None,None,None,None,None
3626,8280,6585,NORFOLK,US,36,51,N,76,18,W,...,Y,Y,Y,Y,Y,Y,Y,A,M,L
3627,8290,6585,PORTSMOUTH,US,36,49,N,76,18,W,...,Y,Y,Y,Y,Y,Y,Y,A,L,L
3628,8300,6585,NEWPORT NEWS,US,36,58,N,76,26,W,...,Y,Y,Y,Y,Y,Y,Y,A,L,L
3629,8318,6585,WARWICK,US,37,27,N,77,25,W,...,None,Y,Y,Y,Y,None,None,None,None,None

In [29]:
table_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3630 entries, 0 to 3629
Data columns (total 76 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   World_port_index_number     3630 non-null   int64
 1   Region_index                3630 non-null   int64
 2   Main_port_name              3630 non-null   object
 3   Wpi_country_code            3630 non-null   object
 4   Latitude_degrees            3630 non-null   int64
 5   Latitude_minutes            3630 non-null   int64
 6   Latitude_hemisphere         3629 non-null   object
 7   Longitude_degrees           3630 non-null   int64
 8   Longitude_minutes           3630 non-null   int64
 9   Longitude_hemisphere        3629 non-null   object
 10  Publication                 3494 non-null   object
 11  Chart                       2744 non-null   object
 12  Harbor_size_code            3624 non-null   object
 13  Harbor_type_code            3622 non-null   object
 14  Shelter_afforded_code       3599 non-null   object
 15  Entrance_restriction_tide   2736 non-null   object
 16  Entrance_restriction_swell  2827 non-null   object
 17  Entrance_restriction_ice    2681 non-null   object
 18  Entrance_restriction_other  3064 non-null   object
 19  Overhead_limits             1868 non-null   object
 20  Channel_depth               3171 non-null   object
 21  Anchorage_depth             3274 non-null   object
 22  Cargo_pier_depth            3175 non-null   object
 23  Oil_terminal_depth          1691 non-null   object
 24  Tide                        3630 non-null   object
 25  Maxsize_vessel_code         2921 non-null   object
 26  Good_holding_ground         1899 non-null   object
 27  Turning_area                1332 non-null   object
 28  First_port_of_entry         2259 non-null   object
 29  Us_representative           2244 non-null   object
 30  Eta_message                 3054 non-null   object
 31  Pilotage_compulsory         2907 non-null   object
 32  Pilotage_available          2522 non-null   object
 33  Pilotage_local_assist       498 non-null    object
 34  Pilotage_advisable          1290 non-null   object
 35  Tugs_salvage                1172 non-null   object
 36  Tugs_assist                 2680 non-null   object
 37  Quarantine_pratique         1998 non-null   object
 38  Quarantine_deratt_cert      1444 non-null   object
 39  Quarantine_other            1119 non-null   object
 40  Communications_telephone    1915 non-null   object
 41  Communications_telegraph    1234 non-null   object
 42  Communications_radio        2556 non-null   object
 43  Communications_radio_tel    1563 non-null   object
 44  Communications_air          2130 non-null   object
 45  Communications_rail         1795 non-null   object
 46  Load_offload_wharves        2747 non-null   object
 47  Load_offload_anchor         1573 non-null   object
 48  Load_offload_med_moor       382 non-null    object
 49  Load_offload_beach_moor     101 non-null    object
 50  Load_offload_ice_moor       33 non-null     object
 51  Medical_facilities          2776 non-null   object
 52  Garbage_disposal            1608 non-null   object
 53  Degauss                     58 non-null     object
 54  Dirty_ballast               2600 non-null   object
 55  Cranes_fixed                1387 non-null   object
 56  Cranes_mobile               1658 non-null   object
 57  Cranes_floating             652 non-null    object
 58  Lifts_100_tons_plus         481 non-null    object
 59  Lifts_50_100_tons           743 non-null    object
 60  Lifts_25_49_tons            1113 non-null   object
 61  Lifts_0_24_tons             1654 non-null   object
 62  Services_longshore          1946 non-null   object
 63  Services_elect              999 non-null    object
 64  Services_steam              534 non-null    object
 65  Services_navig_equip        761 non-null    object
 66  Services_elect_repair       889 non-null    object
 67  Supplies_provisions         2255 non-null   object
 68  Supplies_water              3136 non-null   object
 69  Supplies_fuel_oil           2686 non-null   object
 70  Supplies_diesel_oil         2228 non-null   object
 71  Supplies_deck               1315 non-null   object
 72  Supplies_engine             1316 non-null   object
 73  Repair_code                 2737 non-null   object
 74  Drydock                     748 non-null    object
 75  Railway                     1497 non-null   object
dtypes: int64(6), object(70)
memory usage: 2.1+ MB

In [30]:
from sqlalchemy import create_engine

In [31]:
engine = create_engine("postgresql://postgres:Faithful_0102@localhost:5432/world_port_index")
connection = engine.connect()
table_data.to_sql ("Wpi Data", con=engine, if_exists='replace', index=False)

190

In [32]:
import os

db_password = os.environ.get("DB_PASSWORD")

In [33]:
#Question 1
#Establish the five nearest ports to Singapore's JURONG ISLAND port (country =
#'SG', port_name = 'JURONG ISLAND'). The output should encompass 'port_name'
#and 'distance_in_meters' exclusively.


# This connection will be used to run queries on the PostgreSQL database
import os
import psycopg2
import pandas as pd

def nearest_ports_to_jurong_island():
    # Connect to the PostgreSQL database
    conn = psycopg2.connect(
        user='postgres',
        password=os.environ.get("DB_PASSWORD"),
        host='localhost',
        port='5432',
        database='world_port_index'
    )
    
    # Run SQL query to find the 5 nearest ports to JURONG ISLAND
    sql_query = """
    SELECT
        "Main_port_name",
        (
            6371000 *
            acos(
                cos(radians(1)) * cos(radians("Latitude_degrees")) * cos(radians("Longitude_degrees") - radians(103.98765)) +
                sin(radians(1)) * sin(radians("Latitude_degrees"))
            )
        ) AS distance_in_meters
    FROM
        "World_Port_Index"
    WHERE
        "Wpi_country_code" = 'SG'
        AND "Main_port_name" != 'JURONG ISLAND'
    ORDER BY
        distance_in_meters
    LIMIT 5;
    """

In [34]:
get_ipython().run_line_magic('load_ext', 'sql')